@model IEnumerable<WebBanBanh.Models.Banh>
<div class="text-center">
	<h1>Quét mã sau đây để thành toán!</h1>
	<h1>Tổng số tiền: @ViewBag.giatien </h1>
	<img src="/image/qr.png " class="text-center" alt="Mã thanh toán" style="width: 500px; height: 500px;">
</div>