@{
    ViewData["Title"] = "Summary";
}
<h1>@ViewData["Title"]</h1>
<h1>Nơi để tổng kết bug</h1>
<p><strong>Lỗi:</strong></p>


<p><strong>Tính năng đã làm:</strong></p>
<ul>
    <li>Đăng ký, Đăng nhập, Đăng xuất, phân quyền </li>
    <li>Dashboard</li>
    <li>Giao diện của các View: Index, Giới thiệu, Chi tiết bánh, Thanh toán, Đăng nhập, Chức năng, Hóa đơn, Thanh toán...</li>
    <li>Chi tiết bánh: các thao tác như xem bánh, tìm kiếm bánh theo tên, loại bánh, sắp xếp theo thứ tự chữ cái, giá tiền...</li>
    <li>Tính năng bộ lọc đồng hóa menu => có thể tự động lọc theo giá trị mà menu/xem thêm chọn</li>
    <li>Tính năng bánh liên quan: hiển thị các bánh có liên quan tới bánh hiện tại đang mua (theo loại bánh)</li>
    <li>Chức năng của admin và manager, coi số lượng lớn, thêm sửa </li>
    <li>Tính năng giỏ hàng</li>
    <li>Chatbot rule-based </li>
	<li>tính năng thanh toán, update thanh toán qua VPN/Thẻ (coming soon)</li>
</ul>
